mixin blogSubscribe()
    section.blog-subscribe
        .container
            .blog-subscribe__content
                .blog-subscribe__pic
                .blog-subscribe__righ-wrap
                    .blog-subscribe__title Want to get the best articles weekly? Subscribe to our newsletter!
                    form.blog-subscribe__form(action="blog-subscribe")
                        .event-subscribe__inp-wrap
                            input.blog-subscribe__inp(type="email", placeholder="Your working email")
                            button.blog-subscribe__btn.btn.btn--large(type="submit") Subscribe
                        .event-subscribe__check-wrap
                            input.event-subscribe__check(type="checkbox" id="blog-subscribe")
                            label( for="blog-subscribe").event-subscribe__check-label I agree to receive communications from Createx Online School