-
    const tutors = 
        [
            {img: 'woman1.png', name: 'Dianne Russell', post: 'Founder and CEO'},
            {img: 'man1.png', name: 'Jerome Bell', post: 'Founder and Program Director'},
            {img: 'woman2.png', name: 'Kristin Watson', post: 'Marketer, Curator of Marketing Course'},
            {img: 'man2.png', name: 'Marvin McKinney', post: 'PM, Curator of Management Course'},
            {img: 'woman1.png', name: 'Dianne Russell', post: 'Founder and CEO'},
            {img: 'man1.png', name: 'Jerome Bell', post: 'Founder and Program Director'},
            {img: 'woman2.png', name: 'Kristin Watson', post: 'Marketer, Curator of Marketing Course'},
            {img: 'man2.png', name: 'Marvin McKinney', post: 'PM, Curator of Management Course'}
        ];
   

mixin tutors(page='Home')
    section.tutors
        .tutors__decor-dots1
        .tutors__decor-vector
        .tutors__decor-shapes1
        .container
            +slider(tutors, 'tutors')



                
                