mixin registerCourse()
    section.registerCourse
        .registerCourse__decor-circle1
        .registerCourse__decor-circle
        .registerCourse__decor-shapes
        .registerCourse__slider
            .container
                +testimonSlider
        +registerForm