mixin paginate()
	//- each page in paginate
	//- 	.paginate__item= page
	//- .paginate__right
	.paginate__wrapper
		.paginate__btn(onclick="initBlocks()") click
		ul.paginate__list
			
		.paginate__right