-
	const cardsTabs =
		[
			{
				name: "All",
				nameImg: ""
			},
			{
				name: "Articles",
				nameImg: "Files.png"
			},
			{
				name: "Videos",
				nameImg: "Play.png"
			},
			{
				name: "Podcasts",
				nameImg: "mic.png" 
			}
		];

mixin ourBlog()
	section.our-blog
		+header
		.container
			.our-blog__head
				.our-blog__suptitle.suptitle Our blog
				.our-blog__title.title Createx School Journal
			+tab(cardsTabs, 'blog-tabs')
			//- .our-blog__cards
			//- 	each card in cardsBlog
			//- 		.our-blog__card-wrap
			//- 			+card(card.bageColor, card.img, card.bageText, card.title, card.price, card.name, 'courses__card', 'courses__card-pic')