.watch
	padding-top: 90px
	padding-bottom: 90px

.watch__video-head
	display: flex
	align-items: center
	margin-bottom: 32px

.watch__video-btn
	width: 52px
	height: 52px
	background-image: url('../../assets/images/btn-play-small.png')
	margin-right: 16px

.watch__video-title
	font-weight: 700
	font-size: 14px
	line-height: 150%
	color: #1E212C

.watch__video-content
	display: flex
	justify-content: space-between
	align-items: center

.watch__video-pic
	width: 810px
	height: 500px
	background-image: url('../../assets/images/video-image.png')
	border-radius: 4px

.watch__counters
	padding-top: 20px
	
.watch__list
.watch__item
	display: flex
	align-items: center
	flex-wrap: wrap
	margin-bottom: 20px

.watch__num
	font-family: 'Lato-Black'
	font-size: 48px
	line-height: 130%
	letter-spacing: 1px
	color: #FF3F3A
	margin-right: 16px

.watch__text
	font-weight: 700
	font-size: 18px
	line-height: 150%
	color: #1E212C