.filter
.filter__wrap
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 60px

.filter-form
  display: flex

.filter-form__label
  display: flex
  align-items: center
  margin-right: 30px
  // &:last-of-type
  //   margin-right: 0

.filter-form__title
  font-family: 'Lato-Bold'
  font-size: 16px
  margin-right: 12px
  line-height: 160%
  color: #424551

.filter-form__select
  width: 160px
  height: 44px
  background: #FFFFFF
  border: 1px solid #D7DADD
  border-radius: 4px
  padding-left: 16px

// .filter-form__select::after
//   width: 16px
//   height: 16px
//   background: #FFF url('../../assets/images/Down-chevron.png') no-repeat center / cover
//   position: absolute
//   right: 20px
//   bottom: 50%
//   transform: translateY(50%)
//   content: ''
//   display: block

.filter-form__num
  width: 72px
  height: 44px
  background: #FFFFFF
  border: 1px solid #D7DADD
  border-radius: 4px
  margin-right: 12px
  padding-left: 16px

.filter-form__option
  font-size: 14px
  line-height: 150%
  color: #424551

.filter-form__pages
  font-size: 14px
  line-height: 150%
  color: #787A80

.filter-form__search
  position: relative
  display: flex
  justify-content: flex-end
  margin-right: 30px

.filter-form__inp
  width: 282px
  height: 44px
  padding: 0 16px
  font-family: "Lato"
  font-size: 14px
  line-height: 150%
  color: #424551
  border: 1px solid #D7DADD
  border-radius: 4px
  outline: none

.filter-form__search-img
  position: absolute
  width: 16px
  height: 16px
  top: 50%
  right: 16px
  transform: translateY(-50%)
  background-image: url('../../assets/images/search.svg')

.filter-form__view
  display: flex

.filter-form__mode-list
  width: 28px
  height: 28px
  background: url('../../assets/images/list.png') no-repeat center

.filter-form__mode-grid
  width: 28px
  height: 28px
  background: url('../../assets/images/grid.png') no-repeat center