mixin subscribe(page='Home')
    section.subscribe
        .container
            .subscribe__wrap
                .subscribe__suptitle.suptitle Don’t miss anything
                .subscribe__title.title Subscribe to the Createx School announcements
                form.subscribe__form(type="submit")
                    input.subscribe__input(type="email", placeholder="Your working email" required)
                    button.btn.btn--large.subscribe__button(type=submit) Subscribe
        .subscribe__decore-left
        .subscribe__decore-right