- const courseIcons = ['Facebook.svg', 'behance.svg', 'Twitter.svg', 'Linked-In.svg'];

mixin courseCurator()
    section.curator
        .curator__decor-circles
        .container
            .curator__content
                .curator__left
                    .curator__pic
                .curator__right   
                    .curator__head
                        .curator__suptitle.suptitle course cirator
                        h2.curator__title.title Cody Fisher
                    .curator__post Senior UX designer in IT Product Company
                    ul.curator__experience-list
                        li.curator__list-item 4.9 rate
                        li.curator__list-item 4 courses
                        li.curator__list-item 350 students
                    p.curator__description Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam. 
                    .curator__socials
                        each icon in courseIcons
                            .curator_icon
                                img.curator__icon-img(src=require(`../../assets/images/${icon}`))
