.curator
    position: relative
    padding-bottom: 90px

.curator__decor-circles
    position: absolute
    width: 242px
    height: 242px
    top: -65px
    left: 200px
    opacity: 0.12
    background: url('../../assets/images/circles-hollow.svg')
    background-size: cover
    filter: invert(79%) sepia(45%) saturate(834%) hue-rotate(336deg) brightness(109%) contrast(108%)


.curator__content
    display: flex
    justify-content: space-between
    // align-items: center

.curator__left
.curator__pic
    width: 495px
    height: 600px
    background-image: url('../../assets/images/curator-image.png')

.curator__right   
    width: 100%
    max-width: 600px

.curator__head
    padding-top: 20px
    margin-bottom: 18px

.curator__suptitle
    margin-bottom: 8px
.curator__title
.curator__post
    font-size: 20px
    line-height: 150%
    color: #787A80
    margin-bottom: 32px

.curator__experience-list
    font-weight: 700
    font-size: 16px
    line-height: 160%
    color: #424551
    margin-bottom: 32px

.curator__list-item
    margin-bottom: 4px
    @for $c from 1 through 3
        &:nth-child(#{$c}):before
            content: url('../../assets/images/experience-#{$c}.svg')
            width: 16px
            height: 16px
            margin-right: 8px

.curator__description
    font-size: 16px
    line-height: 160%
    color: #424551
    margin-bottom: 40px

.curator__socials
    display: flex

.curator_icon
    width: 24px
    height: 24px
    margin-right: 24px

    &:hover
        .curator__icon-img
            filter: invert(43%) sepia(61%) saturate(3835%) hue-rotate(335deg) brightness(100%) contrast(117%)
        

.curator__icon-img
    filter: invert(48%) sepia(8%) saturate(253%) hue-rotate(187deg) brightness(98%) contrast(87%)