.process
    padding-top: 90px

.process__head
    text-align: center
    margin-bottom: 60px

.process__suptitle
.process__title
.process__steps
    display: flex
    justify-content: space-between
    // margin: 0 -15px
    margin-bottom: 177px

.process__step
    width: 100%
    max-width: 285px
    // padding: 0 15px

.proecss__step-num
    font-family: 'Lato-Black'
    font-size: 46px
    line-height: 130%
    color: #D7DADD
    margin-bottom: 16px
    &::after
        content: ""
        width: 209px
        border: 1px dashed #D7DADD
        display: inline-block
        position: relative
        bottom: 15px

.process__step-title
    font-weight: 700
    font-size: 20px
    line-height: 150%
    color: #1E212C
    margin-bottom: 8px

.process__step-descr
    font-size: 16px
    line-height: 160%
    color: #787A80