-
	const logoImg = 
		[
			'inDepth.png',
			'higher.png',
			'logo2.png',
			'happy.png',
			'orSail.png',
			'sunset.png',
			'atlantis.png',
			'logo1.png',
			'complete.png',
			'logo3.png',
			'ultimate.png',
			'united.png'
		];

mixin studentsWork()
	section.st-work
		.st-work__arr
		.container
			.st-work__head
				.st-work__suptitle.suptitle best jobs for you
				.st-work__title.title Our students work here
			.st-work__cards
				each item, index in logoImg
					.st-work__card
						.st-work__pic
							img.st-work__img(
								src=require(`../../assets/images/${logoImg[index]}`),
								alt=`logo-${index}`
								)