.st-work
	position: relative
	padding-top: 115px
	background-color: #F4F5F6
	padding-bottom: 100px

.st-work__arr
	position: absolute
	width: 90px
	height: 90px
	top: 24%
	left: 4.7%
	opacity: 0.6
	background: url('../../assets/images/shapes-arrow.svg')
	background-size: cover
	filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg) brightness(104%) contrast(101%)

.st-work__head
	text-align: center
	margin-bottom: 60px

.st-work__suptitle
	margin-bottom: 8px

.st-work__title
.st-work__cards
	display: grid
	grid-template-columns: repeat(6, 120px)
	grid-template-rows: auto
	gap: 40px 102px

.st-work__card
	

.st-work__pic
	width: 100%
	height: 64px

.st-work__img