.values
	padding-top: 90px
	margin-bottom: 90px

.values__head
	text-align: center
	margin-bottom: 60px

.values__suptitle
	margin-bottom: 8px

.values__title
.values__content
	display: flex
	margin: 0 -45px

.values__wrap
	padding: 0 45px

.values__card
	width: 100%
	max-width: 240px
	text-align: center

.values__pic
	width: 48px
	height: 48px
	margin: 0 auto
	margin-bottom: 24px

.values__img
.values__card-title
	font-family: 'Lato'
	font-weight: 700
	font-size: 20px
	line-height: 150%
	color: #1E212C
	margin-bottom: 8px

.values__card-descr
	font-size: 16px
	line-height: 160%
	color: #787A80

.values__devider
	width: 162px
	height: 0px
	transform: rotate(90deg)
	background: linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%)