- const eventIcons = ['Facebook.svg', 'behance.svg', 'Twitter.svg', 'instagram.svg'];

mixin eventSpeaker()
    section.speaker
        .container
            .speaker__content
                .speaker__left
                    .speaker__pic
                .speaker__right   
                    .speaker__head
                        .speaker__suptitle.suptitle Speaker
                        h2.speaker__title.title Kathryn Murphy
                    .speaker__post Analyst and Marketing specialist in IT company
                    p.speaker__description Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam.  
                    ul.speaker__experience-list
                        li.speaker__experience-delmar 
                        li.speaker__experience-sentinal
                        li.speaker__experience-national
                    .speaker__icons
                        each icon in eventIcons
                            .speaker_icon
                                img.speaker__icon-img(src=require(`../../assets/images/${icon}`))