.speaker
    position: relative
    padding-bottom: 90px

.speaker__circles
    position: absolute
    width: 242px
    height: 242px
    top: -10%
    left: 10%
    opacity: 0.12
    background: url('../../assets/images/circles-hollow.svg')
    background-size: cover
    filter: invert(78%) sepia(99%) saturate(801%) hue-rotate(329deg) brightness(101%) contrast(102%)

.speaker__shapes
    position: absolute
    width: 88px
    height: 47px
    top: 0
    right: 9%
    opacity: 0.2
    background: url('../../assets/images/shapes2.svg')
    background-size: cover
    filter: invert(78%) sepia(99%) saturate(801%) hue-rotate(329deg) brightness(101%) contrast(102%)
    transform: rotate(-30deg)

.speaker__dots
    position: absolute
    width: 139px
    height: 101px
    bottom: 8%
    left: -2.5%
    opacity: 0.8
    background: url('../../assets/images/dots.svg')
    background-size: cover
    filter: invert(78%) sepia(99%) saturate(801%) hue-rotate(329deg) brightness(101%) contrast(102%)
    transform: rotate(45deg)

.speaker__content
    display: flex
    justify-content: space-between

.speaker__left
    z-index: 10
    
.speaker__pic
    width: 495px
    height: 600px
    background-image: url('../../assets/images/speaker-image.png')

.speaker__right   
    width: 100%
    max-width: 600px

.speaker__head
    padding-top: 20px
    margin-bottom: 18px

.speaker__suptitle
    margin-bottom: 8px
    
.speaker__title
.speaker__post
    font-size: 20px
    line-height: 150%
    color: #787A80
    margin-bottom: 32px

.speaker__logos-list
    display: flex
    margin-bottom: 40px

.speaker__logo
    width: 105px
    height: 50px
    margin-right: 40px
    @for $c from 1 through 3
        &:nth-child(#{$c})
            background: url('../../assets/images/logo#{$c}.png') no-repeat
            
.speaker__description 
    font-size: 16px
    line-height: 160%
    color: #424551
    margin-bottom: 40px

.speaker__socials
    display: flex

.speaker__social
    width: 24px
    height: 24px
    margin-right: 24px

.speaker__social-icon
    filter: invert(50%) sepia(8%) saturate(258%) hue-rotate(187deg) brightness(93%) contrast(88%)
    &:hover
        filter: invert(38%) sepia(91%) saturate(3083%) hue-rotate(339deg) brightness(99%) contrast(102%)

    