extends ../layout

block content
    +aboutUs
    +aboutVideo
    +ourValues
    +teach
    +studyngProcess
    +ourTeam
    .about__slider
        .about__circles
        .about__circles-hollow
        .container
            +testimonSlider
    +studentsWork
    +blog
    +subscribe
    +footer
