extends ../layout

block content
    +onlineCourses
    +certificate('online-courses__certificate', 'online-courses__certificate-content', 'online-cources__certificate-pic')
    +subscribe
    +footer
