extends ../layout

block content
    +main
    +about
    +courses                                    
    +benefits
    +events
    +certificate
    +tutors
    section.home__testimon
        .home__testimon-decor-circles
        .home__testimon-decor-circles2
        .container
            +testimonSlider
    +blog
    +subscribe
    +footer
    













