extends ../layout

block content
    +main
    +about
    +courses                                    
    +benefits
    +events
    +certificate
    +tutors
    +blog
    +subscribe
    +footer
    













