mixin event()
	section.event
		.container
			+header
			.event__head-text
				.event__suptitle.suptitle Online lecture
				.event__title.title.title Formation of the organizational structure of the company in the face of uncertainty