mixin event()
	.event
		+header
		.container
			.event__head-text
				.event__suptitle.suptitle Online lecture
				.event__title.title Formation of the organizational structure of the company in the face of uncertainty
		.evemt__shapes
		.event__circles
		.event__dots
		.event__arr