.discount
    
.discount__content
    background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%)
    padding: 48px 60px
    margin-bottom: 180px

.discount__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 32px

.discount__title
.discount__times
    display: flex
    justify-content: space-between
    width: 100%
    max-width: 182px

.discount__times-num
    font-weight: 700
    font-size: 20px
    line-height: 130%
    color: #1E212C

.discount__times-text
    font-size: 12px
    line-height: 150%
    color: #1E212C

.discount__form
    display: flex
    align-items: flex-end

.discount__label
    width: 100%
    max-width: 291px
    display: inline-block
    margin-right: 24px
    font-size: 14px
    line-height: 150%
    color: #424551

.discount__input
    width: 291px
    height: 44px
    padding-left: 16px
    margin-top: 8px
    background: #FFFFFF
    border: 1px solid #D7DADD
    border-radius: 4px
    &:focus
        outline: 0
    &::placeholder
        font-size: 14px
        line-height: 150%
        color: #9A9CA5

.discount__btn
