.program
    min-height: 855px
    padding-top: 55px
    padding-bottom: 80px

.program__left
    width: 100%
    max-width: 606px

.program-right
    padding-top: 70px

.program__pic
    width: 495px
    height: 554px
    background-image: url('../../assets/images/program-image.png')

.program__head-wrap
    margin-bottom: 60px

.program__suptitle
    margin-bottom: 8px
.program__title

.program__content
    display: flex
    justify-content: space-between
    

