.testimon
    position: relative
    // padding-top: 65px
    // padding-bottom: 4.2%
    // background-color: #F4F5F6

.testimon__decor-dots2
    position: absolute
    width: 143px
    height: 105px
    background: url('../../assets/images/dots.svg')
    bottom: 3%
    left: 0

.testimon__decor-shapes2
    position: absolute
    width: 87px
    height: 47px
    top: 6.5%
    left: 68.3%
    opacity: 0.6
    background: url('../../assets/images/shapes2.svg')
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(229deg) brightness(104%) contrast(101%)

// .testimon__decor-circles1
//     position: absolute
//     width: 145px
//     height: 145px
//     top: 0
//     left: 3.9%
//     background: url('../../assets/images/circles.svg')
//     background-size: cover
//     opacity: 0.6

// .testimon__decor-circles2
//     position: absolute
//     width: 132px
//     height: 163px
//     bottom: 0
//     right: 0
//     background: url('../../assets/images/circles-quadrant.png')
//     opacity: 0.6

.testimonial-swiper
    width: 1020px

.testimon__arr-left
.testimon__head
    text-align: center

.testimon__suptitle
    margin-bottom: 8px

.testimon__title
    position: relative
    margin-bottom: 5%

.testimon__container
    display: flex
    align-items: center
    margin-bottom: 60px

.testimon__container + .testimon__pagination.swiper-pagination-clickable
    position: relative
    bottom: 20px
    text-align: center

.testimon__slides
    background: #FFFFFF
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)
    border-radius: 4px
    padding: 6.3% 10.3%

.testimon__slide-content
    max-width: 810px
    width: 100%
    padding-left: 58px

.testimon__comment
    position: relative
    font-size: 20px
    line-height: 150%
    color: #424551
    margin-bottom: 24px
    &::before
        content: " "
        position: absolute
        top: 0
        left: -58px
        background: url('../../assets/images/braces.png')
        background-repeat: no-repeat
        display: block
        height: 28px 
        width: 28px
.testimon__autor-wrap
    display: flex
    align-items: center

.testimon__pic
    width: 72px
    height: 72px
    margin-right: 20px

.testimon__img
.testimon__name-wrap

.testimon__name
    font-weight: 700
    font-size: 16px
    line-height: 160%
    color: #1E212C

.testimon__course
    font-size: 14px
    line-height: 150%
    color: #787A80

.testimon__pagination .swiper-pagination-bullet
    width: 35px
    height: 0px
    border: 1px solid #B3B7BC
    background: #B3B7BC
    border-radius: 2px
    
.testimon__pagination .swiper-pagination-bullet-active
    border: 1px solid #424551
