.event-greed
  padding-bottom: 180px
  
.event-greed__head
  padding-top: 20px
  margin-bottom: 80px

.event-greed__title-wrap
  text-align: center
  margin-bottom: 60px

.event-greed__suptitle
.event-greed__title
.event-greed__filter
.events-greed__cards
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  margin: 0 -15px
  margin-bottom: 60px

.events-greed__card
  flex-direction: column
  width: 100%
  min-height: 323px
  border: 1px solid #E5E8ED
  padding: 24px
  border-radius: 4px
  &:hover
    position: relative
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03)

.events-paginate
.events-paginate__item
.events-paginate__right

.events-greed__card-wrap
  padding: 0 15px
  width: calc(100% / 3)