mixin eventSubscribe
    section.event-subscribe
        .container
            .event-subscribe__content
                .event-subscribe__pic
                .event-subscribe__righ-wrap
                    .event-subscribe__title Don’t want to miss the best events? Subscribe to our newsletter!
                    form.event-subscribe__form(action="subscribe")
                        .event-subscribe__inp-wrap
                            input.event-subscribe__inp(type="email", placeholder="Your working email")
                            button.event-subscribe__btn.btn.btn--large(type="submit") Subscribe
                        .event-subscribe__check-wrap
                            input.event-subscribe__check(type="checkbox")
                            .event-subscribe__check-text I agree to receive communications from Createx Online School