.event-subscribe
    padding-top: 128px
    margin-bottom: 120px

.event-subscribe__content
    display: flex
    justify-content: space-between
    padding: 60px 103px
    background: linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%)
    border-radius: 4px

.event-subscribe__pic
    width: 308px
    height: 234px
    background-image: url('../../assets/images/subscribe-illustration.png')

.event-subscribe__righ-wrap
    width: 100%
    max-width: 600px

.event-subscribe__title
    font-family: 'Lato-Black'
    font-size: 32px
    line-height: 130%
    color: #1E212C
    margin-bottom: 48px

.event-subscribe__form

.event-subscribe__inp-wrap
    display: flex
    justify-content: space-between
    margin-bottom: 24px

.event-subscribe__check-wrap
    display: flex
    align-items: center

.event-subscribe__inp
    width: 422px
    background: #FFFFFF
    border: 1px solid #D7DADD
    border-radius: 4px
    padding-left: 16px

    &::placeholder
        font-size: 16px
        line-height: 160%
        color:#9A9CA5

.event-subscribe__btn
    width: 154px

.event-subscribe__check
    position: absolute
    z-index: -1
    opacity: 0

.event-subscribe__check-label::before
    content: ""
    display: inline-block
    width: 16px
    height: 16px
    border: 1px solid #B3B7BC
    background: #fff
    border-radius: 3px
    background-position: center center
    margin-right: 12px

.event-subscribe__check:checked + .event-subscribe__check-label::before
    background: #FF3F3A
    border: 1px solid #FF3F3A
    background-image: url('../../assets/images/Mark.svg')
    background-size: cover

.event-subscribe__check:disabled + .event-subscribe__check-label
    color: #424551
    opacity: 0.5
    &::before
        background: #F4F5F7
        border: 1px solid #D7DADD

.event-subscribe__check-label
    display: inline-flex
    align-items: center
    user-select: none
    font-size: 16px
    line-height: 160%
    color: #424551