-
    const whomeCourse = 
        [
            'Specialists with more than 1 year of active work experience',
            'Mobile app designers who want to improve their skills in solving business problems, creating and testing human-centered interfaces',
            'Professional designers who want to feel more confident in UX',
            'Specialists who would like to structure their knowledge, fill in the gaps'
        ];
-
    const whomeEvent = 
        [
            'Specialists with more than 1 year of active work experience',
            'Mobile app designers who want to improve their skills in solving business problems, creating and testing human-centered interfaces',
            'Professional designers who want to feel more confident in UX'
        ];

mixin forWhome(show= '')
    section.forWhome
        .container
            if (show !== 'event')
                .whome__content
                    .whome__left
                        .whome__left-suptitle.suptitle for whome ?
                        h2.whome__left-title.title Who will benefit from the course:
                    .whome__right
                        ul.whome__right-list
                            each item in whomeCourse
                                li.whome__right-item= item
            else if (show == 'event')
                .whome__content
                    .whome__left
                        .whome__left-suptitle.suptitle for whome ?
                        h2.whome__left-title.title Who will benefit from the event:
                    .whome__right
                        ul.whome__right-list
                            each item in whomeEvent
                                li.whome__right-item= item