.forWhome
    position: relative
    padding-top: 90px
    padding-bottom: 52px

.whome__arr
    position: absolute
    width: 55px
    height: 55px
    bottom: 5%
    right: 5.5%
    opacity: 0.2
    background: url('../../assets/images/shapes-arrow.svg')
    background-size: cover
    filter: invert(78%) sepia(99%) saturate(801%) hue-rotate(329deg) brightness(101%) contrast(102%)
    transform: rotate(135deg)
    
.whome__content
    display: flex
    justify-content: space-between

.whome__left
    width: 100%
    max-width: 495px

.whome__suptitle
    margin-bottom: 8px

.whome__title
.whome__right
    width: 100%
    max-width: 600px
    padding-top: 30px

.whome__list
    font-family: 'Lato-Bold'
    padding-left: 25px
    margin-bottom: -20px

.whome__item
    font-size: 20px
    line-height: 150%
    color: #424551
    margin-bottom: 20px
    padding-left: 10px
    list-style-image: url("../../assets/images/check.png")
