include header/_header
include main/_main.pug
include about/_about
include courses/_courses
include cards/_cards
include benefits/_benefits
include events/_events
include eventCard/_eventCard
include certificate/_certificate
include tutors/_tutors
include blog/_blog
include subscribe/_subscribe
include footer/_footer
include onlineCourses/_onlineCourses
include tabs/_tabs
include testimonSlider/_testimonSlider
include course/_course
include aboutCourse/_aboutCourse
include courseCurator/_courseCurator
include process/_process
include discount/_discount
include forWhome/_forWhome
include courseProgram/_courseProgram
include registerCourse/_registerCourse
include registerForm/_registerForm
include otherCourses/_otherCourses
include eventList/_eventList
include eventFilter/_eventFilter
include eventGreed/_eventGreed