include about/_about
include aboutCourse/_aboutCourse
include aboutEvent/_aboutEvent
include accordion/_accordion
include benefits/_benefits
include blog/_blog
include cards/_cards
include certificate/_certificate
include cours/_cours
include courseCurator/_courseCurator
include courseProgram/_courseProgram
include courses/_courses
include discount/_discount
include event/_event
include eventCard/_eventCard
include eventFilter/_eventFilter
include eventList/_eventList
include events/_events
include eventSlider/_eventSlider
include eventGreed/_eventGreed
include eventSpeaker/_eventSpeaker
include eventSubscribe/_eventSubscribe
include footer/_footer
include forWhome/_forWhome
include header/_header
include main/_main.pug
include onlineCourses/_onlineCourses
include otherCourses/_otherCourses
include process/_process
include registerCourse/_registerCourse
include registerEvent/_registerEvent
include registerForm/_registerForm
include slider/_slider
include subscribe/_subscribe
include tabs/_tabs
include testimonSlider/_testimonSlider
include tutors/_tutors
include aboutUs/_aboutUs
include aboutVideo/_aboutVideo
include ourValues/_values
include teach/_teach
include studyngProcess/_studyngProcess
include ourTeam/_ourTeam
include studentsWork/_studentsWork
include ourBlog/_ourBlog
include blogCards/_blogCards
include paginate/_paginate
include blogSubscribe/_blogSubscribe
include singlePost/_singlePost
include postSlider/_postSlider
include contactInfo/_contactInfo
include questions/_question
include signIn/_signIn
include signUp/_signup