mixin cours()
    section.cours
        .cours__decor-shapes2 
        .cours__decor-circles
        .cours__decor-dots
        .cours__decor-shapes-arrow
        +header
        .container
            .cours__head-text
                .cours__suptitle course
                h2.cours__title.title User Experience. Principles of Human-Centered Design