mixin course()
    section.course
        .container
            +header
            .course__head-text
                .courses__suptitle course
                .course__title.title User Experience. Principles of Human-Centered Design