.event-slider
    background: #F4F5F7
    padding-top: 100px
    padding-bottom: 180px

.event-slider__wrap
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 60px

.event-slider__head
.event-slider__suptitle
.event-slider__title
.event-slider__cards
    margin-bottom: 80px

.event-slider__card-wrap
    padding: 0 15px
    width: 100%
    
.event__more-events
    display: flex
    justify-content: center
    align-items: center

.event-slider__text
    margin-right: 40px
    font-family: 'Lato-Bold'
    font-size: 28px
    line-height: 150%
    color: #1E212C

.event-slider__btn
    width: 214px
