-
    const navlinks = 
        [
            { linkName: 'About Us', link: '/about.html' }, 
            { linkName: 'Courses', link: '/courses.html' }, 
            { linkName: 'Events', link: '/eventsList.html' },
            { linkName: 'Blog', link: '/blog.html' },
            { linkName: 'Contacts', link: '/contacts.html'}
        ];

mixin header(page='Home')
    header.header
        .container
            .header__wrap
                a.header__logo(href="/index.html")
                    img.header__logo-img(src=require("../../assets/images/logo.png"), alt="logo-img")
                nav.header-nav__list
                    each linkItem in navlinks
                        li.header-nav__item
                            a.header-nav__item-link(href= linkItem.link)= linkItem.linkName
                .header__actions-wrap
                    a.header__link.btn.btn--large(href="#") Get consultation
                    .header__actions
                        .header__profile-icon
                        a.header__login(class="popup-with-form" href="#signin-form") Log in
                        span /
                        a.header__registration(class="popup-with-form" href="#signup-form") Register


           
