.about-us
	padding-top: 20px
	padding-bottom: 90px

.about-us__header
	margin-bottom: 80px

.about-us__content
	display: flex
	justify-content: space-between

.about-us__text
	max-width: 600px
	width: 100%

.about-us__suptitle
.about-us__title
	margin-bottom: 48px

.about-us__title-descr
	margin-bottom: 24px 
	font-weight: 700
	font-size: 20px
	line-height: 150%
	color: #1E212C

.about-us__description
	font-size: 16px
	line-height: 168%
	color: #424551
	margin-bottom: 58px

.about-us__buttons
	width: 100%
	max-width: 415px
	display: flex
	justify-content: space-between

.about-us__button
	width: 199px

.about-us__pic
	align-self: flex-end
	width: 465px
	height: 400px
	background-image: url('../../assets/images/about-us-image.png')